.intro-section {
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro-section h1 {
    z-index: 2;
    font-weight: bolder;
    font-size: clamp(25px, 8vw, 100px);
    font-family: 'Poppins', sans-serif;
    margin: 0 10vw;
}
.intro-section p {
    font-size: clamp(16px, 2.5vw, 34px); /* This sets a minimum and a maximum for the font-size */
    z-index: 2;
    margin-top: 10px;
}

.glassy-look {
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, .3);
}
  
.glassy-look::after {
    background-color: rgba(195, 195, 195, .1);
    bottom: 10px;
    content: '';
    filter: blur(32px);
    left: 10px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: -1;
}

.bubble-1 {
    z-index: 1;
    width: clamp(210px, 40vw, 420px);
    height: clamp(210px, 40vw, 420px);
    background-color: #2a9d8f;
    position: absolute;
    top: -20px;
    left: -20px;
    border-radius: 1px 1px 50%;
}

.bubble-2 {
    z-index: 1;
    width: clamp(300px, 50vw, 500px);
    height: clamp(300px, 50vw, 500px);
    background-color: #f4a261;
    position: absolute;
    top: 100px;
    right: -25vw;
    border-radius: 50% 50% 50% 50%;
}


.bubble-3 {
    z-index: 1;
    width: 50vw;
    height: 50vw;
    background-color: #e9c46a;
    position: absolute;
    bottom: -150px;
    left: -150px;
    border-radius: 0% 50% 50% 0%;
}

.second-section {
    z-index: 2;
    height: 100vh;
    background-color: black;
    position: relative;
}