.intro-section {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white; /* Background color for the intro section */
    padding: 60px 0; /* Padding for the top and bottom */
    margin-top: 40px;
    text-align: center; /* Center the text */
    z-index: 2; /* Ensure it is above the SVG */
}

.intro-section h1 {
    z-index: 2;
    font-weight: bolder;
    font-size: clamp(30px, 5vw + 2vh, 100px);
    font-family: 'Poppins', sans-serif;
    margin: 0 10vw;
    color: #333;
}

.intro-section p {
    font-size: clamp(12px, 2vw, 34px); /* This sets a minimum and a maximum for the font-size */
    z-index: 2;
    color: #333;
    margin-top: 10px;
}

.glassy-look {
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, .3);
}
  
.glassy-look::after {
    background-color: rgba(195, 195, 195, .1);
    bottom: 10px;
    content: '';
    filter: blur(32px);
    left: 10px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: -1;
}
/* Remove the default icon */
.navbar-toggler .navbar-toggler-icon {
    background-image: none;
}

/* Create custom lines with the desired color */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: #2a9d8f; /* Set your custom color here */
    margin: 5px 0;
}


.content {
    position: relative;
    z-index: 2; /* Make sure the content appears above the wavy background */
    padding: 20px; /* Adjust padding as needed */
    color: white; /* Text color */
}

.wavy-shape {
    position: relative; /* Ensure the SVG is positioned below the section */
    width: 100%; /* Full width of the screen */
    height: auto; /* Adjust height automatically */
    margin-top: -7px; /* Overlap slightly with the section above */
    z-index: 1; /* Below the intro section */
}

/* HOME BUTTON */

.home-button {
    background-color: #2a9d8f; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Slightly rounded corners */
    padding: 12px 24px; /* Vertical and horizontal padding */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    outline: none;
    text-decoration: none;
}

.home-button:active,
.home-button:visited {
    color: white;
}

.home-button:hover {
    background-color: #2a9d8f; /* Slightly darker color on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}


.modern-button:active {
    transform: translateY(0); /* Reset on active */
}