.second-section {
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100% !important;
  height: max-content !important;
  background-color: #2a9d8f;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.second-section h1,
p {
  color: white;
}

/* Optional: Styling for the divs in the second section */
.second-section div {
  height: 20px;
  /* Example height */
  margin: 10px 0;
  /* Spacing between divs */
}

.aboutUsParagraphDiv {
  padding: 0 10vw;
  height: max-content !important;
  text-align: justify;
}

/* Services Section */
.services-div {
  display: flex;
  gap: 10px; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between !important;
  width: 100%;
  height: max-content !important;
  padding: 0;
  margin: 0;
}

.services-div h1 {
  margin-bottom: 20px !important;
}

.content-item {
  display: flex;
  flex-direction: row;
  position: relative;
  height: max-content !important;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.text-container {
  width: 40vw;
  height: inherit !important;
  align-items: center !important;
}

.text-container h2 {
  font-weight: 800;
  color: #385a64;
}
.media-container {
  height: max-content !important;
}

.service-images {
  width: 30vw;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {
  .content-item {
    flex-direction: column;
    align-items: center; /* Center align to improve layout */
    gap: 1rem;
  }
  #first-Service {
    flex-direction: column-reverse;
  }

  #third-Service {
    flex-direction: column-reverse;
  }

  .text-container {
    width: 80%;
  }
  /* Adjust widths for mobile */
  .media-container {
    width: 90%; /* Full width on mobile, with some padding */
    text-align: center; /* Center-align text on small screens */
  }

  .service-images {
    width: 90%; /* Full width images on mobile */
    height: auto; /* Maintain aspect ratio */
  }
}


.ourProcess-section {
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100vw !important;
  height: max-content !important;
  background-color: #2a9d8f;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.process-step {
  padding: 0;
  width: 80vw;
  height: max-content !important;
  text-align: justify;
}

.process-step h2 {
  font-weight: 800;
  color: #385a64;
  text-align: left;
}

/* Contact Form */

.contact-form-section {
  padding: 0;
  margin: 0;
  padding-top: 10%;
  z-index: 1;
  background-color: #2a9d8f;
  width: 100% !important;
  height: 100vh !important;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contact-form-section h1,
p {
  color: #385a64;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} 

.contact-h1 {
  margin-top: 20px;
}

.contact-hr {
  border: none;
  width: 60vw;
  height: 5px;
  background-color: #385a64;
  opacity: 0.8;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 40px;
}

.contact-inputs {
  width: 500px;
  height: 50px;
  outline: none;
  padding-left: 20px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
  border: none;
}

.contact-form textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 3px solid #385a64;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-form button {
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #385a64;
  margin-bottom: 50px;
}